View
<ng-template #content let-modal>
    <div id="print">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ name }}</h4>
            <button type="button" class="btn-close d-print-none" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row d-print-block">
                <!-- put date on top  -->
                <div class="{{ commonService.isArray(model[prop]) && model[prop].length > 0 ? 'col-12 d-print-block' : 'd-flex d-print-block col-auto' }}"
                    *ngFor="let prop of modelProperties">
                    <ng-container *ngIf="prop === 'date'">
                        <p class="fs-5 fw-bold mx-1 my-auto">Date:</p>
                        <p class="fs-5 my-auto mx-1">{{ this.model[prop].toLocaleString('en-us',{timeZoneName:'short'}) }}</p>
                    </ng-container>
                    <ng-container *ngIf="prop !== 'date'">
                        <p class="fs-5 fw-bold mx-1 my-auto">{{ commonService.titleCase(prop) }}:</p>
                        <p class="fs-5 my-auto mx-1" *ngIf="!commonService.isArray(model[prop])">
                            {{ model[prop] }}{{ prop === 'total' || prop === 'price' || prop === 'balance' ? ' PHYC' : ''}}</p>
                    </ng-container>
                    <ng-container *ngIf="commonService.isArray(model[prop])">
                        <p class="fs-5 my-auto mx-1" *ngIf="model[prop].length === 0"> {{ model['type'] === 'credit' || model['type'] === 'debit' ? 'Account '+commonService.titleCase(model['type']) : 'N/A'}} </p>
                        <div *ngIf="commonService.isObject(model[prop][0])" class="table-responsive">
                            <table class="table table-hover table-flush">
                                <thead>
                                    <tr>
                                        <th *ngFor="let nestedProp of commonService.getProperties(model[prop][0])">
                                            {{commonService.titleCase(nestedProp)}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let element of model[prop]">
                                        <td *ngFor="let nestedProp of commonService.getProperties(element)">
                                            {{ element[nestedProp] }}{{ nestedProp === 'total' || nestedProp === 'price' ? ' PHYC' : ''}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="row" *ngFor="let nestedProp of commonService.getProperties(element)">
                                    <p>{{commonService.titleCase(nestedProp)}}: {{element[nestedProp]}}</p>
                                </div> -->
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="print()">Print</button>
    </div>
</ng-template>