<div class="mt-3 row justify-content-center">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                <h3 class="title-centered">First name: {{ account.firstName }}</h3>
            </li>
            <li class="list-group-item">
                <h3 class="title-centered">Last name: {{ account.lastName }}</h3>
            </li>
            <li class="list-group-item">
                <h3 class="title-centered">Username: {{ account.username }}</h3>
            </li>
            <li class="list-group-item">
                <h3 class="title-centered">Email: {{ account.email }}</h3>
            </li>
            <li class="list-group-item">
                <h3 class="title-centered">Balance: {{ account.balance }} PHYC</h3>
            </li>
            <li class="list-group-item">
                <h3 class="title-centered">Role: {{ account.role }}</h3>
            </li>
        </ul>
    </div>
</div>