<div class="row justify-content-center">
    <div class="col-12">
        <h3 class="title-centered">First name: {{ account.firstName }}</h3>
        <h3 class="title-centered">Last name: {{ account.lastName }}</h3>
        <h3 class="title-centered">Username: {{ account.username }}</h3>
        <h3 class="title-centered">Email: {{ account.email }}</h3>
        <h3 class="title-centered">Role: {{ account.role }}</h3>
        <h3 class="title-centered">Balance: {{ account.balance }} PHYC</h3>
    </div>
</div>