// This backend port MUST be the public facing backend port, not internal port

export class Backend {
    url = '/api';
    api = {
      status: this.url + '/status',
      store: this.url + '/store',
      admin: this.url + '/admin',
      account: this.url + '/accounts',
      log: this.url + '/log'
    };
  }
  