<div class="row justify-content-center">
    <div class="mt-3 col-md-9 refill-form-card">
        <ng-container *ngIf="!refillSubmitted">
            <h5 class="my-auto">Refill your account:</h5>
            <form [formGroup]="refillForm" (ngSubmit)="onSubmit()">
                <div>
                    <input type="text" formControlName="amount" name="amount" class="form-control amount title-centered" placeholder="PHYC"/>
                </div>
                <fieldset>
                    <legend>Refill method:</legend>
                    <div>
                        <input formControlName="method" type="radio" id="cash" name="method" value="cash" />
                        <label for="cash" >In-person using cash</label>
                    </div>
                    <div>
                        <input formControlName="method" type="radio" id="etransfer" name="method" value="etransfer" />
                        <label for="etransfer" >Interact e-transfer to <a href="mailto:epclub@ualberta.ca">epclub@ualberta.ca</a></label>
                    </div>
                    <div>
                        <input formControlName="method" type="radio" id="card" name="method" value="card" />
                        <label for="card" >In-person using a debit or credit (Note: a 2.7% + 30 cent surcharge is added for credit cards)</label>
                    </div>
                    <div>
                        <input formControlName="method" type="radio" id="stripe" name="method" value="stripe" />
                        <label for="stripe" >Online using a stripe (Note: a 2.9% + 30 cent surcharge is added)</label>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </ng-container>

        <ng-container *ngIf="refillSubmitted && requestedRefill">
            <ng-container *ngIf="refillStep === 'cash'">
                <h5 class="my-auto">Cash Step</h5>
                <p innerHtml="{{refillMessages.cash(requestedRefill)}}"></p>
            </ng-container>
            <ng-container *ngIf="refillStep === 'etransfer'">
                <h5 class="my-auto">Etransfer Step</h5>
                <p innerHtml="{{refillMessages.etransfer(requestedRefill)}}"></p>
             </ng-container>
            <ng-container *ngIf="refillStep === 'stripe'">
                <h5 class="my-auto">Stripe Step</h5>
                <p innerHtml="{{refillMessages.stripe(requestedRefill)}}"></p>
                <button class="btn btn-primary" (click)="pay(requestedRefill.reference)">Pay with Stripe</button>
            </ng-container>
            <ng-container *ngIf="refillStep === 'card'">
                <h5 class="my-auto">Card Step</h5>
                <p innerHtml="{{refillMessages.card(requestedRefill)}}"></p>
            </ng-container>
        </ng-container>
    </div>
</div>

<div class="row mt-3">
    <app-common-alerts id="refill-alert"></app-common-alerts>
</div>

<div class="mt-3 row row justify-content-center" >
    <div class="col-12">
        <h3 class="title-centered">Refill History:</h3>
    </div>
</div>

<div class="row">
    <app-list [controls]="listControl" [exclude]="['note','account','reference']" [getData]="refreshRefillHistory()" name="refillHistory" [defaultSort]="listDefaultSort" ></app-list>
</div>

