Edit
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ name }}</h4>
        <button type="button" class="btn-close d-print-none" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="modal-body">
            <app-common-alerts id="modal-alert"></app-common-alerts>
            <div class="row mt-3 gy-2 gx-3 align-items-center">
            <ng-container *ngFor="let control of controls | keyvalue">
                    <h5>{{commonService.titleCase(control.key)}}:</h5>
                    <!-- <label class="sr-only" for="username">username</label> -->
                    <input *ngIf="commonService.isString(control.value[0])" type="text" formControlName="{{ control.key }}" class="form-control" id="{{ control.key }}"
                    [ngClass]="{ 'is-invalid': submitted && f?.['{{ control.key }}']?.errors }" placeholder="{{ control.key }}"/>
                    <input *ngIf="commonService.isBoolean(control.value[0])" type="checkbox" formControlName="{{ control.key }}" class="form-check-input" id="{{ control.key }}"
                        [ngClass]="{ 'is-invalid': submitted && f?.['{{ control.key }}']?.errors }" placeholder="{{ control.key }}"/>
                    <div *ngIf="submitted && f?.['{{ control.key }}']?.errors" class="invalid-feedback">
                        <div *ngIf="f?.['{{ control.key }}']?.errors?.['required']">
                            {{commonService.titleCase(control.key)}} is required
                        </div>
                    </div>
            </ng-container>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
        </div>
    </form>
</ng-template>