Edit
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ name }}</h4>
        <button type="button" class="btn-close d-print-none" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="modal-body">
            <app-common-alerts id="modal-alert"></app-common-alerts>
            <div class="row mt-3 gy-2 gx-3 align-items-center">
                <ng-container *ngFor="let key of modelProperties">
                    <label for="{{ key }}">{{commonService.titleCase(key)}}:</label>
                    <!-- <label class="sr-only" for="username">username</label> -->
                    <input *ngIf="commonService.isString(model[key])" type="text" formControlName="{{ key }}"
                        class="form-control" id="modal_{{ key }}" [ngClass]="{ 'is-invalid': submitted && f[key].errors }"
                        placeholder="{{ key }}" />
                    <input *ngIf="commonService.isBoolean(model[key])" type="checkbox" formControlName="{{ key }}"
                        class="form-check-input" id="modal_{{ key }}" [ngClass]="{ 'is-invalid': submitted && f[key].errors }"
                        placeholder="{{ key }}" />
                    <input *ngIf="commonService.isNumber(model[key])" type="number" formControlName="{{ key }}"
                        class="form-control" id="modal_{{ key }}" [ngClass]="{ 'is-invalid': submitted && f[key].errors }"
                        placeholder="{{ key }}" />
                    <button *ngIf="isPassword(key)" type="button" class="btn btn-primary" (click)="resetPassword()">
                        Reset Password
                    </button>
                    <div *ngIf="submitted && f[key].errors" class="invalid-feedback">
                        <div *ngIf="f[key].errors?.['required']">
                            {{commonService.titleCase(key)}} is required
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
        </div>
    </form>
</ng-template>