// @import "bootstrap/scss/functions"
// @import "bootstrap/scss/variables"
// @import "bootstrap/scss/mixins"
// @import "~bootstrap/scss/maps"
// @import "bootstrap/scss/utilities"
.cart-price
    font-weight: bold
    text-align: center

.cart-info
    border-right-style: solid
    border-right-width: 2px
    border-color: var(--card-border-color)

.cart-buttons .btn
    width: 100%
